{%- macro nav(title='',url='#',current=false) -%}
  <a href="{{ url | url }}" class="{% if current %}text-red-500{% else %}text-red-700{% endif %} group relative motion-safe:(transition) hover:(text-white)"{% if current %} aria-current="page"{% endif %}>
    {{ title }}
    {%- if current %}
    <b class="h-px bg-gradient-to-r from-transparent via-current to-transparent absolute inset-x-0 -bottom-1.5 opacity-50" aria-hidden="true"></b>
    {%- endif %}
  </a>
{%- endmacro -%}

{%- macro heading(lead='') %}
  <h1 class="mb-4 py-3 max-w-md text-(gray-100 2xl) leading-tight font-semibold">
    {{ caller() }}
  </h1>
  {%- if lead %}
    <p class="max-w-md text-(gray-400/75 sm)">{{ lead }}</p>
  {%- endif %}
{%- endmacro %}

{%- macro section(size='xl',class='') %}
  <section class="relative{% if class !== ''%} {{ class }}{% endif %}">
    <div class="mx-auto px-4 max-w-screen-{{ size }}">
      {{ caller() }}
    </div>
  </section>
{%- endmacro %}

{%- macro grunge(pos='top') %}
  {% set position %}{% if pos == 'top' %}top{% else %}bottom{% endif %}{% endset %}
  <b class="h-10 bg-(repeat-x {{ position }}) absolute inset-x-0 {{ position }}-0" style="background-image: url('{{ '/' | url }}_assets/img/grunge-{{ pos }}.png');" aria-hidden="true"></b>
{%- endmacro %}