---
layout: 'layouts/default.njk'
---

{%- import "components/ui.njk" as ui -%}

{% call ui.section() %}
  <article class="grid-(& cols-1) gap-8 md:(grid-cols-5)">
    <div class="md:(col-span-2) relative">
      <div class="sticky top-0">
        {% call ui.heading() %}
          {{ title }}
        {% endcall %}
        {% if '/news/' in page.url %}  
        <time class="text-gray-600" datetime="{{ page.date.toLocaleDateString('en-US', {month: '2-digit', day: '2-digit', year: 'numeric', timeZone: 'UTC'}) }}">{{ page.date.toLocaleDateString('en-US', {month: 'long', day: '2-digit', year: 'numeric', timeZone: 'UTC'}) }}</time>
        {% endif %}
      </div>
    </div>
    <div class="py-3 md:(col-span-3)">
      <div class="prose prose-current prose-a:(text-red-500 motion-safe:transition hover:text-red-300)">
        {{ content | safe }}
      </div>
    </div>
  </article>
{% endcall %}