---
layout: 'layouts/article.njk'
title: Donate
lead: Please make a donation today and sponsor your very own volunteer developer. As a gift for your donation, we'll send you some FREE space bucks.
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    order: 5
---

<ul class="grid-(& cols-1) gap-12 divide-(y gray-500/30) lg:(grid-cols-2 divide-y-0)">
  {% for item in collections.vendors %}
    <li class="{% if not loop.first %}pt-12 {% endif %}relative flex-(& col) items-start lg:(pt-0)">
      <div class="w-full flex-(& row) gap-5 lg:(flex-col)">
        <{%- if item.data.url %}a href="{{ item.data.url }}"{% else %}div{% endif %} class="btn-{{ item.data.color }} w-12 h-12 text-({{ item.data.color }}-300 2xl) flex-none{%- if not item.data.url %} pointer-events-none{% endif %} hover:(text-white)">
          <iconify-icon icon="{{ item.data.ico }}" width="1em" height="1em" inline="false" class="iconify mauto"></iconify-icon>
        </{%- if item.data.url %}a{% else %}div{% endif %}>
        <div class="flex-1">
          <strong class="text-(gray-300 base)">{{ item.data.title }}</strong>
          <div class="pt-1 leading-normal">{{ item.content | safe }}</div>
          <div class="pt-2 text-xl flex-(& wrap) items-center">
            {%- if item.data.url %}
              <a href="{{ item.data.url }}" class="flex items-center gap-1">
                <iconify-icon icon="mdi:link-variant" width="1em" height="1em" inline="false" class="iconify opacity-70"></iconify-icon>
              </a>
            {%- else %}
              <iconify-icon icon="mdi:link-variant-off" width="1em" height="1em" inline="false" class="iconify opacity-30"></iconify-icon>
            {%- endif %}
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>