---
layout: 'layouts/article.njk'
title: Donate
lead: Please make a donation today and sponsor your very own volunteer developer. As a gift for your donation, we'll send you some FREE space bucks.
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    order: 5
---

<ul class="mx-auto w-full max-w-md grid-(& cols-1) gap-24">
  {% for item in collections.vendors %}
    <li class="relative flex-(& col) items-start">
      <div class="w-full flex-(& row) gap-5 relative">
        <figure class="btn-{{ item.data.color }} w-12 h-12 text-({{ item.data.color }}-300 2xl) flex-none hover:(text-white)">
          <iconify-icon icon="{{ item.data.ico }}" class="iconify m-auto"></iconify-icon>
        </figure>
        <div class="flex-1">
          <strong class="text-(gray-300 base)">{{ item.data.title }}</strong>
          <div class="pt-1 leading-normal">{{ item.content | safe }}</div>
          <div class="pt-2 text-xl flex-(& wrap) items-center">
            {%- if item.data.url %}
              <a href="{{ item.data.url | url }}" class="flex items-center">
                <iconify-icon icon="mdi:link-variant" class="iconify opacity-70"></iconify-icon>
                <span class="absolute inset-0 z-20" aria-hidden="true"></span>
              </a>
            {%- else %}
              <iconify-icon icon="mdi:clipboard-outline" class="iconify opacity-30"></iconify-icon>
            {%- endif %}
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
