---
layout: 'layouts/article.njk'
title: Help
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    order: 4
---

{% renderTemplate "md" %}
Possibly redirect this to the [GitHub](http://github.com/OpenEmu/OpenEmu/wiki) page?

Maybe we can put some other stuff here as well?
{% endrenderTemplate %}