---
layout: 'layouts/article.njk'
redirect: http://github.com/OpenEmu/OpenEmu/wiki
title: Help
lead: Help is hosted over at GitHub...
prose: true
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    order: 4
---

{% renderTemplate "md" %}
Help is currently available on our [GitHub Wiki](http://github.com/OpenEmu/OpenEmu/wiki) page.

You will be redirected shortly...
{% endrenderTemplate %}