---
layout: 'layouts/default.njk'
title: News
pagination:
  data: collections.news
  size: 10
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    order: 2
---

{%- import "components/ui.njk" as ui -%}

{% call ui.section() %}
  {% call ui.heading() %}
    {{ title }}
  {% endcall %}
  <div class="">
    <ul class="pt-8 divide-(y gray-500/30)">
      {% for item in pagination.items | reverse %}
        <li class="py-8 relative md:(pr-5 grid-(& cols-4) items-start gap-12 items-baseline)">
          <div class="text-gray-500">
            {%- if item.data.poster %}
            <a href="{{ item.url | url }}" class="mb-3 py-1 block opacity-70 motion-safe:(transition) hover:(opacity-100)">
              <figure>
                <img src="{{ item.data.poster }}" alt="{{ item.data.title }}" class="w-full shadow-img" />
                <figcaption class="sr-only">{{ item.data.title }}</figcaption>
              </figure>
            </a>
            {%- else %}
            {# <div class="py-1">
              <div class="bg-gray-900 flex aspect-video shadow-img">
                <iconify-icon icon="mdi:image-off-outline" width="1em" height="1em" inline="false" class="iconify m-auto text-(gray-500/30 6xl)"></iconify-icon>
              </div>
            </div> #}
            {%- endif %}
            <time class="py-1 mb-3 block" datetime="{{ item.data.date.toLocaleDateString('en-US', {month: '2-digit', day: '2-digit', year: 'numeric', timeZone: 'UTC'}) }}">{{ item.data.date.toLocaleDateString('en-US', {month: 'long', day: '2-digit', year: 'numeric', timeZone: 'UTC'}) }}</time>
          </div>
          <article class="max-w-3xl space-y-5 md:(col-span-3)">
            <h2>
              <a href="{{ item.url | url }}" class="group text-(gray-200 xl) leading-tight font-semibold block motion-safe:(transition) hover:(text-white)">
                {{ item.data.title }}
                {# <span class="bg-blue-500 absolute inset-y-7 -inset-x-2 rounded-lg opacity-0 transform scale-90 motion-safe:(transition) group-hover:(opacity-20 scale-100) md:(rounded-xl)"></span> #}
              </a>
            </h2>
            <p class="text-base line-clamp-3">{{ item.content | striptags(true) | escape }}</p>
            <a href="{{ item.url | url }}" class="text-blue-400 flex items-center gap-1 motion-safe:(transition) hover:(text-white)">Read <iconify-icon icon="mdi:chevron-right" width="1em" height="1em" inline="false" class="iconify"></iconify-icon></a>
          </article>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% if pagination.href.previous or pagination.href.next %}
    <nav class="pt-16" aria-label="News navigation">
      <ul class="flex items-center justify-center gap-10">
        {% if pagination.href.previous %}
          <li><a href="{{ pagination.href.previous }}" class="flex items-center gap-2"><iconify-icon icon="mdi:chevron-left" width="1em" height="1em" inline="false" class="text-xl opacity-50"></iconify-icon> Newer</a></li>
        {% endif %}
        {% if pagination.href.next %}
          <li><a href="{{ pagination.href.next }}" class="flex items-center gap-2">Older <iconify-icon icon="mdi:chevron-right" width="1em" height="1em" inline="false" class="text-xl opacity-50"></iconify-icon></a></li>
        {% endif %}
      </ol>
    </nav>
  {% endif %}
{% endcall %}