---
layout: 'layouts/default.njk'
title: News
pagination:
  data: collections.news
  size: 10
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    order: 2
---

{%- import "components/ui.njk" as ui -%}

{% call ui.section() %}
  {% call ui.heading() %}
    {{ title }}
  {% endcall %}
  <div class="">
    <ul class="pt-8 divide-(y gray-500/30)">
      {% for item in pagination.items | reverse %}
        <li class="group py-8 relative md:(pr-5 grid-(& cols-4) items-start gap-12 items-baseline)">
          <div class="text-gray-500">
            {%- if item.data.poster %}
            <figure class="mb-3 py-1 block opacity-70 motion-safe:(transition) hover:(opacity-100)">
              <img src="{{ item.data.poster }}" alt="{{ item.data.title }}" class="w-full shadow-img motion-safe:(transition) group-hover:(ring-(& red-500/100) rounded-sm)" />
              <figcaption class="sr-only">{{ item.data.title }}</figcaption>
            </figure>
            {%- else %}
            {# <div class="py-1">
              <div class="bg-gray-900 flex aspect-video shadow-img">
                <iconify-icon icon="mdi:image-off-outline" width="1em" height="1em" inline="false" class="iconify m-auto text-(gray-500/30 6xl)"></iconify-icon>
              </div>
            </div> #}
            {%- endif %}
            <time class="py-1 mb-3 block" datetime="{{ item.data.date.toLocaleDateString('en-US', {month: '2-digit', day: '2-digit', year: 'numeric', timeZone: 'UTC'}) }}">{{ item.data.date.toLocaleDateString('en-US', {month: 'long', day: '2-digit', year: 'numeric', timeZone: 'UTC'}) }}</time>
          </div>
          <article class="max-w-3xl space-y-5 md:(col-span-3)">
            <h2 class="text-(gray-200 xl) leading-tight font-semibold group-hover:(underline)">{{ item.data.title }}</h2>
            <p class="text-base line-clamp-3">{{ item.content | striptags(true) | escape }}</p>
            <a href="{{ item.url | url }}" class="text-red-500 inline-flex items-center gap-1 after:(content-[''] absolute inset-0) motion-safe:(transition) hover:(underline)">
              Read <span class="sr-only">full article: {{ item.data.title }}</span> <iconify-icon icon="mdi:chevron-right" width="1em" height="1em" inline="false" class="iconify"></iconify-icon>
            </a>
          </article>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% if pagination.href.previous or pagination.href.next %}
    <nav class="pt-16" aria-label="News navigation">
      <ul class="flex items-center justify-center gap-10">
        {% if pagination.href.previous %}
          <li><a href="{{ pagination.href.previous }}" class="flex items-center gap-2"><iconify-icon icon="mdi:chevron-left" width="1em" height="1em" inline="false" class="text-xl opacity-50"></iconify-icon> Newer</a></li>
        {% endif %}
        {% if pagination.href.next %}
          <li><a href="{{ pagination.href.next }}" class="flex items-center gap-2">Older <iconify-icon icon="mdi:chevron-right" width="1em" height="1em" inline="false" class="text-xl opacity-50"></iconify-icon></a></li>
        {% endif %}
      </ol>
    </nav>
  {% endif %}
{% endcall %}
