---
layout: layouts/article.njk
redirect: https://github.com/nickybmon/OpenEmu-Silicon/wiki
title: Help
lead: Help is hosted over at GitHub...
prose: true
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    order: 4
---

{% renderTemplate "md" %}
Help is currently available on our [GitHub Wiki](https://github.com/nickybmon/OpenEmu-Silicon/wiki) page.

You will be redirected shortly...
{% endrenderTemplate %}
